#!/bin/bash
# vim: set ft=bash :

set -euo pipefail

header(){
    printf " :%s: " "$1" | xargs -d: -n1 printf '\033[1;30;42m %-40s \033[0m\n'
}

header "Installing base packages"

sudo pacman -S --needed git base-devel

if ! command -v yay &> /dev/null
then
    header "Installing yay"

    readonly YAY_DIR=/tmp/yay
    rm -rf $YAY_DIR
    git clone https://aur.archlinux.org/yay.git $YAY_DIR
    cd $YAY_DIR
    makepkg -si
fi

{{ if .package_mode -}}
header "Installing optional headless packages"

yay -S --needed --answerclean N --answerdiff N \
    antibody-bin \
    aspell \
    aspell-de \
    aspell-en \
    aspell-ru \
    bat \
    bpytop \
    duf \
    emacs-nativecomp \
    exa \
    fd \
    fzf \
    htop \
    hunspell \
    hunspell-de \
    hunspell-en_us \
    hunspell-ru \
    lsof \
    neovim \
    nodejs \
    ripgrep \
    rsync \
    starship \
    strace \
    tmux \
    yarn \
    z \
    zsh \
    zsh-completions
{{ end -}}

{{ if or (eq .package_mode "desktop-mini") (eq .package_mode "desktop-full") -}}
header "Installing optional minimal desktop packages"

yay -S --needed --answerclean N --answerdiff N \
    alacritty \
    awesome-terminal-fonts \
    blueberry \
    i3-wm \
    i3blocks \
    i3status \
    lightdm \
    lightdm-slick-greeter \
    noto-fonts \
    noto-fonts-emoji \
    pavucontrol \
    pulseaudio \
    pulseaudio-alsa \
    rofi \
    ttc-iosevka-nerd \
    ttf-roboto \
    xorg
{{ end -}}

{{ if eq .package_mode "desktop-full" -}}
header "Installing optional desktop-lite packages"

yay -S --needed --answerclean N --answerdiff N \
    feh \
    firefox \
    gnome-keyring \
    keepassxc \
    lightdm-settings \
    lxappearance-gtk3 \
    neovim-qt \
    rofi-emoji \
    ttf-dejavu \
    ttf-iosevka \
    ttf-ms-fonts \
    ttf-roboto-mono \
    variety \
    xclip \
    xfce4-notifyd \
    xkb-switch-i3 \
    xsel
{{ end -}}
