#!/bin/bash
# vim: set ft=bash :

UPDATE_FREQUENCY='7 days'

set -euo pipefail

if ! command -v emacs &>/dev/null; then
    printf " /Skip update: emacs is not installed/ " | xargs -d/ -n1 printf '\033[1;30;43m %-40s \033[0m\n'
    exit 0
fi

header(){
    printf " :$1: " | xargs -d: -n1 printf '\033[1;30;42m %-40s \033[0m\n'
}

{{ if ne .emacs_doom_dir "no" -}}

state_file="{{.chezmoi.cacheDir}}/emacs-updated"
now_file="$(mktemp)"
touch -d "$UPDATE_FREQUENCY ago" "$now_file"

if [[ ! -f "${state_file}" || "${state_file}" -ot "${now_file}" ]]
then
    header "Updating Emacs Doom"

    DOOM_DIR="{{.emacs_doom_dir}}"
    DOOM_DIR="${DOOM_DIR/#\~/$HOME}"
    readonly DOOM_DIR
    "${DOOM_DIR}/bin/doom" --force upgrade

    touch "${state_file}"

    header "Restarting emacs.service"
    systemctl restart --no-block --user emacs
fi

{{ end }}
