#!/bin/bash
# vim: set ft=bash :

set -euo pipefail

header(){
    printf " :%s: " "$1" | xargs -d: -n1 printf '\033[1;30;42m %-77s \033[0m\n'
}

{{ if .chezmoi.osRelease.id == "arch" -}}

my:yay(){
    yay -S --needed --answerclean N --answerdiff N "$@"
}

header "Installing base packages"

sudo pacman -S --needed git base-devel

if ! command -v yay &> /dev/null
then
    header "Installing yay"

    readonly YAY_DIR=/tmp/yay
    rm -rf $YAY_DIR
    git clone https://aur.archlinux.org/yay.git $YAY_DIR
    cd $YAY_DIR
    makepkg -si
fi

{{ if .package_mode -}}
header "Installing optional headless packages"

my:yay \
    aspell \
    aspell-de \
    aspell-en \
    aspell-ru \
    bat \
    bc \
    bpytop \
    dialog \
    duf \
    emacs-nativecomp \
    exa \
    fd \
    fzf \
    htop \
    hunspell \
    hunspell-de \
    hunspell-en_us \
    hunspell-ru \
    lsof \
    neovim \
    networkmanager \
    nodejs \
    npm \
    ripgrep \
    rsync \
    starship \
    strace \
    syncthing \
    tmux \
    unzip \
    yarn \
    zoxide \
    zsh \
    zsh-antidote \
    zsh-completions
{{ end -}}

{{ if or (eq .package_mode "desktop-mini") (eq .package_mode "desktop-full") -}}
header "Installing optional minimal desktop packages"

my:yay \
    alacritty \
    awesome-terminal-fonts \
    blueberry \
    dex \
    direnv \
    flameshot \
    i3-wm \
    i3blocks \
    i3lock-color \
    i3status \
    lightdm \
    lightdm-slick-greeter \
    network-manager-applet \
    noto-fonts \
    noto-fonts-emoji \
    pavucontrol \
    polybar \
    polybar-scripts-git \
    pulseaudio \
    pulseaudio-alsa \
    rofi \
    ttf-iosevka-nerd \
    ttf-iosevkaterm-nerd \
    ttf-roboto \
    xorg

{{ if .battery -}}
header "Installing optional desktop packages for battery powered devices"

my:yay \
    light \
    gnome-power-manager
{{ end -}}
{{ end -}}

{{ if eq .package_mode "desktop-full" -}}
header "Installing optional desktop-lite packages"

my:yay \
    arc-icon-theme \
    arc-solid-gtk-theme \
    feh \
    firefox \
    git-delta \
    gnome-keyring \
    keepassxc \
    lightdm-settings \
    lxappearance-gtk3 \
    neovim-qt \
    noisetorch \
    python-dateutil \
    rofi-emoji \
    timew \
    translate-shell \
    ttf-dejavu \
    ttf-iosevka \
    ttf-ms-fonts \
    ttf-roboto-mono \
    variety \
    wmctrl \
    xclip \
    xdotool \
    xfce4-notifyd \
    xkb-switch-i3 \
    xsel
{{ end -}}

{{ if .battery -}}
header "Installing optional packages for battery powered devices"

my:yay \
    powertop \
    tlp \
    tlp-rdw
{{ end -}}

{{ end -}} # .chezmoi.osRelease.id == "arch"


{{ if .chezmoi.osRelease.id == "ubuntu" -}}
# Ubuntu is in WIP state, install all packages for a laptop in one go

# TODO:
#
# zsh-antidote
# zsh-completions
#
# alacritty
# awesome-terminal-fonts
# starship

header "Installing base packages"

sudo apt-get update
sudo apt-get install -y \
    git \
    nala

header "Installing optional headless packages"
sudo nala install -y \
    aspell \
    aspell-de \
    aspell-en \
    aspell-ru \
    bat \
    bpytop \
    dialog \
    duf \
    exa \
    fd-find \
    fzf \
    htop \
    hunspell \
    hunspell-de-de \
    hunspell-en-us \
    hunspell-ru \
    lsof \
    neovim \
    nodejs \
    npm \
    ripgrep \
    rsync \
    strace \
    syncthing \
    tmux \
    yarnpkg \
    zoxide \
    zsh

# Check if the debian.sur5r.net/i3 repository is available, if not add it
if ! grep -qF "debian.sur5r.net/i3" /etc/apt/sources.list /etc/apt/sources.list.d/*
then
    header "Adding sur5r-i3 repository"
    keyring_deb_file="$(mktemp -d)/keyring.deb"
    /usr/lib/apt/apt-helper \
        download-file \
        "https://debian.sur5r.net/i3/pool/main/s/sur5r-keyring/sur5r-keyring_2023.02.18_all.deb" \
        "$keyring_deb_file" \
        "SHA256:a511ac5f10cd811f8a4ca44d665f2fa1add7a9f09bef238cdfad8461f5239cc4"
    sudo apt-get install "$keyring_deb_file"
    echo "deb http://debian.sur5r.net/i3/ $(grep '^DISTRIB_CODENAME=' /etc/lsb-release | cut -f2 -d=) universe" \
        | sudo tee /etc/apt/sources.list.d/sur5r-i3.list
fi

header "Installing optional minimal desktop packages"

sudo nala install -y \
    dex \
    direnv \
    flameshot \
    i3-wm \
    i3blocks \
    i3lock-color \
    i3status \
    network-manager-applet \
    noto-fonts \
    noto-fonts-emoji \
    pavucontrol \
    polybar \
    polybar-scripts-git \
    rofi \
    ttf-iosevka-nerd \
    ttf-iosevkaterm-nerd \
    fonts-roboto

{{ end -}}
