#!/bin/bash
# vim: set ft=bash :

set -euo pipefail

header(){
    printf " :%s: " "$1" | xargs -d: -n1 printf '\033[1;30;42m %-77s \033[0m\n'
}

my:yay(){
    yay -S --needed --answerclean N --answerdiff N "$@"
}

header "Installing base packages"

sudo pacman -S --needed git base-devel

if ! command -v yay &> /dev/null
then
    header "Installing yay"

    readonly YAY_DIR=/tmp/yay
    rm -rf $YAY_DIR
    git clone https://aur.archlinux.org/yay.git $YAY_DIR
    cd $YAY_DIR
    makepkg -si
fi

{{ if .package_mode -}}
header "Installing optional headless packages"

my:yay \
    aspell \
    aspell-de \
    aspell-en \
    aspell-ru \
    bat \
    bc \
    bpytop \
    dialog \
    duf \
    emacs-nativecomp \
    exa \
    fd \
    fzf \
    htop \
    hunspell \
    hunspell-de \
    hunspell-en_us \
    hunspell-ru \
    lsof \
    neovim \
    networkmanager \
    nodejs \
    npm \
    ripgrep \
    rsync \
    starship \
    strace \
    syncthing \
    tmux \
    unzip \
    yarn \
    zoxide \
    zsh \
    zsh-antidote \
    zsh-completions
{{ end -}}

{{ if or (eq .package_mode "desktop-mini") (eq .package_mode "desktop-full") -}}
header "Installing optional minimal desktop packages"

my:yay \
    alacritty \
    awesome-terminal-fonts \
    blueberry \
    dex \
    direnv \
    flameshot \
    i3-wm \
    i3blocks \
    i3lock-color \
    i3status \
    lightdm \
    lightdm-slick-greeter \
    network-manager-applet \
    noto-fonts \
    noto-fonts-emoji \
    pavucontrol \
    polybar \
    polybar-scripts-git \
    pulseaudio \
    pulseaudio-alsa \
    rofi \
    ttf-iosevka-nerd \
    ttf-iosevkaterm-nerd \
    ttf-roboto \
    xorg

{{ if .battery -}}
header "Installing optional desktop packages for battery powered devices"

my:yay \
    light \
    gnome-power-manager
{{ end -}}
{{ end -}}

{{ if eq .package_mode "desktop-full" -}}
header "Installing optional desktop-lite packages"

my:yay \
    arc-icon-theme \
    arc-solid-gtk-theme \
    feh \
    firefox \
    git-delta \
    gnome-keyring \
    keepassxc \
    lightdm-settings \
    lxappearance-gtk3 \
    neovim-qt \
    noisetorch \
    python-dateutil \
    rofi-emoji \
    timew \
    translate-shell \
    ttf-dejavu \
    ttf-iosevka \
    ttf-ms-fonts \
    ttf-roboto-mono \
    variety \
    wmctrl \
    xclip \
    xdotool \
    xfce4-notifyd \
    xkb-switch-i3 \
    xsel
{{ end -}}

{{ if .battery -}}
header "Installing optional packages for battery powered devices"

my:yay \
    powertop \
    tlp \
    tlp-rdw
{{ end -}}
